body {
padding: 0px;
margin: 0px;
}

main{
    padding: 16px;
}

footer {
    padding-left, padding-right: 0px;
    padding-top, padding-bottom: 24px;
}

imgg-src{
    height: 200px;
}

nav {
border: 1px;
padding: 16px;
}
